.style {
  display: inline-block;
  border-radius: 5px;
  background: #666;
  color: white;
  padding: 5px;
}

.example {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  background: #3fc5f0;
  color: #eef5b2;
}

button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #42dee1;
  color: #eef5b2;
  font-weight: bold;
}
